.jumbotron {
    /* width: 500px;
    height: 200px; */
    /* margin: auto; */
    text-align: center;
}

 #randomNumber {
    width: 100px;
    height: 100px;
    background-color: black;
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    
    /* margin-left: 100px; */
    
}

#numberGuesses {
    width: 100px;
    height: 100px;
    background-color: black;
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    
}

.winsAndLosses {
    /* margin-left: 250px; */
}

 #wins {
    width: 100px;
    height: 100px;
    background-color: black;
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
    font-size: 20px;
    
     
    

}

.bottom-buffer {
    margin-bottom: 20px;
}

#losses {
    width: 100px;
    height: 100px;
    background-color: black;
    color: aliceblue;
    /* margin: auto; */
    text-align: center;
    font-size: 20px;
    
}

/* .numbers {
    margin-left: 225px;
    margin-top: 20px;
} */ */

.gemImage {
    width: 100px;
    height: 100px;
    margin: auto;
}

.gems {
    
    margin: auto;
    padding-left: 75px;
}

@media only screen and (max-width: 850px) {
    #wins {
        
        /* margin: auto; */
        margin-left: 200px;
    }

    #losses {
        margin-top: 20px;
        margin-left: 200px;
    }

    #randomNumber {
        
        margin-left: 200px;
        margin-top: 20px;
    }

    #numberGuesses {
       margin-top: 20px;
       margin-left: 200px;
    }
  

 